.section_padding {
  padding: 80px 0;
}

.section_title {
  padding: 10 15px;
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.section_title h2 {
  font-size: 40px;
  text-transform: capitalize;
}

.about_img {
  width: 40%;
  padding: 0 15px;
}

.about_text {
  width: 60%;
  padding: 0 15px;
}

.about_img .img_box {
  max-width: 380px;
  background-color: var(--white-alpha-25);
  border: 1px solid var(--white-alpha-40);
  margin: auto;
  border-radius: 10px;
}

.about_img .img_box img {
  width: 100%;
  height: 100%;
}

.about_text h3 {
  text-transform: capitalize;
  font-size: 20px;
  margin: 20px 0;
}

.about_text .skills {
  display: flex;
  flex-wrap: wrap;
}

.about_text .skill_item {
  background-color: var(--white-alpha-25);
  border: 1px solid var(--white-alpha-40);
  padding: 5px 15px;
  text-transform: capitalize;
  margin: 0 10px 10px 0;
  border-radius: 20px;
}

.about_tabs {
  margin-top: 20px;
}

.about_tabs .tab_item {
  padding: 2px 0;
  background-color: transparent;
  border: none;
  text-transform: capitalize;
  outline: none;
  display: inline-block;
  color: var(--blue-dark);
  font-size: 20px;
  cursor: pointer;
  user-select: none;
  font-weight: 500;
  font-family: inherit;
  margin: 0 30px 0 0;
  position: relative;
  transition: all 0.3s ease;
  opacity: 0.5;
}

.about_tabs .tab_item:last-child {
  margin: 0;
}

.about_tabs .tab_item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 1px;
  background-color: var(--blue-dark);
  transition: width 0.3s ease;
}

.about_tabs .tab_item:hover::before {
  width: 100%;
}

.about_tabs .tab_item.active::before {
  width: 100%;
  background-color: var(--main-color);
}

.about_tabs .tab_item.active {
  color: var(--main-color);
  opacity: 1;
  cursor: auto;
}

.about_text .tab_content {
  padding: 40px 0;
  display: none;
}

.about_text .tab_content.active {
  display: block;
}

.about_text .timeline {
  position: relative;
}

.about_text .timeline::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  top: 0;
  left: 5px;
  background-color: var(--main-color);
}

.about_text .timeline_item {
  margin-bottom: 30px;
  position: relative;
  padding: 10px 0 0 40px;
}

.about_text .timeline_item::before {
  content: "";
  position: absolute;
  height: 11px;
  width: 11px;
  background-color: var(--main-color);
  left: 0;
  top: 16px;
  border-radius: 50%;
}

.about_text .timeline_item:last-child {
  margin-bottom: 0;
}

.about_text .timeline_item .date {
  display: block;
  color: var(--main-color);
  font-weight: 400;
  margin: 0 0 10px;
}

.about_text .timeline_item h4 {
  font-size: 18px;
  text-transform: capitalize;
  margin: 0 0 10px;
}

.about_text .timeline_item h4 span {
  font-weight: 400;
}

.about_text .btn {
  margin: 0 15px 15px 0;
}

@media(max-width:767px){

  /* .contact_form,
  .contact_info,
  .about_img, */
  .about_text{
      width: 100%;
  }
  .about_img{
      width: 100%;
  }

  .about_text{
      margin-top: 30px;
  }
  .about_text{
    margin-top: 30px;
}

}